.main-logo {
  border-color: transparent;
  width: 60%;
  padding: 15px;
  margin: auto auto;
}

.main-logo:hover {
  text-decoration: none;
}

.vertical-center {
  min-height: 55%; /* Fallback for browsers do NOT support vh unit */
  min-height: 55vh;

  display: flex;
  align-items: center;
}
