.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  height: 100%;
}

.katana {
  width: 95%;
}
