.katana {
  width: 90%;
  margin: 40px;
}

.main-container {
  margin-top: 10px;
}

@media (min-height: 600px) {
  .main-container {
    margin-top: 20px;
  }

  .katana {
    width: 80%;
    margin: 10px;
  }
}

@media (min-height: 900px) {
  .main-container {
    margin-top: 50px;
  }

  .katana {
    margin: 20px;
  }
}

@media (min-height: 1200px) {
  .main-container {
    margin-top: 120px;
  }
}
